p {
    color: rgb(10, 3, 3);
  }
  h1 {
    font-size: 42px;
  }
  body {
    background-color: #fffafa;
  }
  div {
    text-align: center;
  }
  h2 {
    font-family: Arial, sans-serif;
  }
  p {
    margin: 15px;
    padding: 10px;
  }
  